.btn {
    border-radius: 32px;
    border: 0px none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btnInfo {
    background-color: aqua;
}

.btnInfo:hover{
    background-color: aquamarine;
}